/* TEA COZY */

* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	position:fixed;
	height: 69px;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid seashell;
	font-size: 22px;
	opacity: 0.9;
	font-family: "Helvetica";
}

#logo {
	height: 50px;
	margin-left: 10px;
}

.header span {
	padding: 0px 10px;
	text-decoration: underline;
}

.header a:link {
	color: seashell;
}

.header a:visited {
	color: seashell;
}



/* MAIN CONTAINER */



.container {
	font-family: "Helvetica";
	color: seashell;
	background-color: black;
	width: 100%;
	position: relative;
	top: 69px;
	text-align: center;
}



/* OUR MISSION */



#mission {
	display: flex;
	align-items: center;
	position: relative;
	background-image: url("images/mission-background.jpg");
	height: 700px;
	width: 1200px;
	margin: 0 auto;
}

.black-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: black;
	height: 70px;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0px;
}



/* TEA OF THE MONTH SECTION */



#month {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 1200px;
	margin: 0 auto;
	padding: 75px 0px;
	font-weight: bold;
}

#month h2, h4 {
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px;
}

.teas {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.product {
	display: block;
	height: 200px;
	width: 300px;
	margin: 0px 10px 60px 10px;
}

.product img {
	height: 200px;
	width: 300px;
	padding: 10px 0px;
}



/* LOCATIONS SECTION */



#locations {
	background-image: url("images/locations-background.jpg");
	height: 550px;
	width: 1200px;
	margin: 0 auto;
}


#locations h2 {
	padding-top: 100px;
	padding-bottom: 15px;
}


.local-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	margin: 0 auto;
	opacity: 1;
}

.local {
	display:flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	height: 250px;
	width: 300px;
	background-color: black;
	margin: 0px 20px;
}



/* FOOTER SECTION */



#contact {
height: 200px;
width: 100%;
}

#contact h2 {
 padding: 20px 0px;
}

#contact h5 {
	padding: 15px 0px;
}

#footer {
	height: 50px;
	text-align: left;
	margin-left: 20px
}
